body {
  font-size: 1.5rem;
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */

header {
  /* padding-right: 20px; */
  font-family: "Julius Sans One", sans-serif;
  margin: 20px 10px 0 10px;
}

.header-image {
  width: 64px;
  height: 64px;
}

.left-header-text {
  display: inline-block;
}

h1,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.hamburger i {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
}

.menu-toggle {
  display: block;
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 1;
  user-select: none;
}

.menu-toggle input {
  height: 22px;
  width: 33px;
  display: block;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  top: -4px;
  right: -4px;
  opacity: 0;
}

.hamburger {
  display: block;
  border-radius: 5px;
  transition: transform 0.5s;
  z-index: 1;
  position: relative;
}

input[type="checkbox"]:checked ~ .hamburger {
  transform: rotate(450deg);
  transform-origin: center;
  transition: transform 0.5s ease;
}

.nav-links {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: #488ccf;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.nav-links a {
  color: black;
}

input[type="checkbox"]:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}

/* Content */

main {
  flex: 1;
  padding: 0 10px;
}

.greeting {
  text-align: center;
}

hr {
  background-color: #488ccf;
  height: 5px;
  border: none;
}

.main-image {
  width: 100%;
}

.technologies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 0 0 15px 15px;
  border-left: solid 40px #488ccf;
  border-bottom: solid 40px #488ccf;
  border-right: solid 40px #488ccf
}

.works-container {
  display: flex;
  flex-wrap: wrap;
}

.technology-wrap, .project-wrap {
  width: 350px;
  text-align: center;
  position: relative;
}

.technology-wrap {
  padding: 20px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  transition: opacity .5s;
  opacity: 0;
}

.overlay:hover, .project-details:hover {
  transition: opacity .5s;
  opacity: 1;
}

.project-wrap {
  margin: 20px;
}

.project-details {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #488ccf;
  transition: opacity .5s;
  border-radius: 10px;
  color: white;
}

.project-details a {
  color: white;
}

.project-image {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.project-name {
  font-family: "Cinzel Decorative", cursive;
  margin: 5px 0;
  padding: 0;

}

.project-desc {
  margin-top: 5px;
}

.box-header {
  border-radius: 10px 10px 0 0;
  border: solid 1px;
  text-align: center;
  color: black;
  font-family: "Julius Sans One", sans-serif;
  margin-bottom: 0;
}

.technologies-container div:first-child {
  border-bottom: solid #488ccf;
}

.technologies-container div:last-child {
  border-top: solid #488ccf;
}

.tech-list {
  list-style-type: none;
  padding: 0;
  font-size: 20px;
}

footer {
  background: #488ccf;
  height: 100px;
}

.footer-content {
  padding-top: 30px;
  text-align: center;
}

.fab {
  margin: 0 20px;
  color: white;
}

@media screen and (min-width: 730px) {
  .hamburger,
  .menu-toggle input {
    display: none;
  }

  nav {
    display: flex;
  }

  .left-header {
    width: 50%;
  }

  .right-header {
    width: 50%;
  }

  .menu-toggle {
    position: relative;
    right: 0;
  }

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    right: 0px;
    background: none;
    transform: none;
    justify-content: flex-end;
  }

  .nav-links li {
    margin-left: 10px;
  }

  .technologies-container, .works-container {
    flex-wrap: nowrap;
  }

  .technology-wrap, .project-wrap {
    width: 33.3%;
  }

  .project-name {
    margin-top: 20px;
  }

  .project-image {
    width: 100%;
    height: 100%;
  }

  .technologies-container div:first-child {
    border-bottom: none;
    border-right: solid #488ccf;
  }
  
  .technologies-container div:last-child {
    border-top: none;
    border-left: solid #488ccf;
  }
}

@media screen and (min-width: 1230px) {
  header,
  main {
    width: 1200px;
    margin: 0 auto;
  }

  header {
    margin-top: 20px;
  }

  .project-image {
    width: 100%;
    height: 100%;
  }
}

